<%= form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, class:"form-control", placeholder:"Title" %>
  </div>

  <div class="form-group">
    <%= form.text_field :description, class:"form-control", placeholder:"Description" %>
  </div>

  <div class="form-group">
    <%= form.check_box :completed %>
    <%= form.label :completed %>
  </div>

  <% if list.list_items.size > 0 %>
    
    <table class="table table-sm table-hover">
        <thead class="table-dark">
            <tr>
                <th>List Item</th>
                <th>Item Type</th>
                <th>Qty</th>
                <th>Done?</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%= form.fields_for :list_items do |list_item_form| %>
                <tr>
                    <td><%= list_item_form.text_field :name %></td>
                    <td><%= list_item_form.select(:item_type, ["Action", "Qty"]) %></td>
                    <td><%= list_item_form.text_field :qty %></td>
                    <td><%= list_item_form.check_box :completed %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

  <% end %>

  <div>
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
