<div class="jumbotron">
    <h1 class="display-4"><%= @list.title %></h1>
    <p class="lead">
        <%= @list.description %>
    </p>
    <p class="lead">
        <strong>Completed: </strong><%= @list.completed %>
    </p>
    <hr class="my-4">
    <p>List items will go here</p>
    <%= link_to "Edit", edit_list_path(@list), class:"btn btn-secondary" %>
    <%= link_to  "Delete", @list, data:{"turbo-method": :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %>
    <%= link_to "Back", lists_path, class:"btn btn-dark" %>
</div>